
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rully Studio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
   
  <link href="assets/rullystudio/front/img/warna.png" rel="icon">
  <link href="assets/rullystudio/front/img/warna.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/rullystudio/front/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/rullystudio/front/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/rullystudio/front/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <link href="assets/rullystudio/front/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/rullystudio/front/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/rullystudio/front/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/rullystudio/front/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <style>
        #mapid {
            height: 380px;
            width: 100%;
        }
    </style>