/*=========================
	All css
==========================*/
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/bootstrap/css/bootstrap.min.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/fontawesome/css/all.min.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/line-awesome/css/line-awesome.min.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/flaticon/custom-flaticon/flaticon.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/flaticon/css/flaticon.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/themify/themify-icons.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/owl-carousel/owl.carousel.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/bootstrap-select/bootstrap-select.min.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/magnific-popup/magnific-popup.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/scroll/scrollbar.css");
@import url("https://github.com/rullystudio/assets/tree/main/byd/plugins/switcher/css/switcher.css");

/*=========================
	All css
==========================*/
@import url('https://github.com/rullystudio/assets/tree/main/byd/css');

/*
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/