@font-face {
    font-family: 'Bitsumishi';
    src: url('Bitsumishi.woff2') format('woff2'),
        url('Bitsumishi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

